click==8.2.1
opencv-python==4.11.0.86
numpy==1.26.4
Pillow==9.5.0
transformers==4.48.3
iopaint==1.6.0
torch==2.7.1
torchvision==0.22.1
loguru==0.7.3
PyQt6
psutil==7.0.0
PyYAML==6.0.2
streamlit==1.46.1
streamlit-image-comparison==0.0.4
segmentation-models-pytorch==0.5.0
albumentations==2.0.8
matplotlib==3.10.3
tqdm==4.67.1
